<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Accueil</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="description" content="ma description optimisée seo">
</head>

<nav>
    <a href="{% url 'homepage' %}">Accueil</a>
    <a href="{% url 'about' %}">A propos</a>
    <a href="{% url 'posts:home' %}">Blog</a>
    <a href="{% url 'contact' %}">Contact</a>
</nav>

<body>
    {% block content %}
    {% endblock %}
</body>

<footer>
    <p>COPYRIGHT 2022 - Nom du site</p>   
    <p>Mentions Légales</p>
    <p>Politique de confidentialité</p>
</footer>

</html>